<footer
  class="mt-auto bg-[#C2B8CC] p-2 text-[#FFFFFF] font-semibold pt-[4rem] px-[4vw] pb-4"
>
  <div class="flex flex-col md:flex-row justify-between mb-12 gap-y-8">
    <div
      class="flex flex-col md:flex-row md:w-[40%] justify-between  gap-y-2 text-sm"
    >
      <div class="flex flex-col w-fit">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
      <!-- socials -->
      <div class="flex flex-col w-fit">
        <a href="#your_facebook_link">Facebook</a>
        <a href="#your_instagram_link">Instagram</a>
      </div>
    </div>
    <!-- Apply Now -->
    <div class="text-sm md:text-base md:text-right">
      <p>We invite you to join our team.</p>
      <a
        class="text-[#F95454] w-fit block md:ml-auto underline"
        href="mailto:yourEmail@example.com">Apply Now</a
      >
    </div>
  </div>
  <p class="text-sm text-center">
    Built by
    <a
      href="linkedin.com/in/praise-idise-1ba954250"
      class="underline text-[#F95454] inline-block mr-2"
    >
      Idise Praise Oghenekevwe</a
    >
    <span id="year"></span>
  </p>
</footer>
