---
import cutImg from "../assets/cutImg.png";
import colorImg from "../assets/colorImg.png";
import designImg from "../assets/designImg.png";
import passionWork from "../assets/passionWork.png";
---

<section class="px-[4vw] bg-[#DFCCC2] pt-[5rem] pb-[5rem]">
  <h2 class="text-white text-2xl text-center mb-8">Our Services</h2>
  <div class="md:flex justify-between md:w-[80%] md:ml-auto md:mr-auto">
    <!-- cut -->
    <div class="">
      <img src={cutImg.src} alt="cut" />
      <p class="pt-2 text-white text-lg">Cut</p>
    </div>
    <!-- color -->
    <div class="w-fit ml-auto md:m-0 md:mt-[10rem]">
      <p class="pt-2 text-white text-lg">Color</p>
      <img src={colorImg.src} alt="color" class="h-[350px]" />
    </div>
    <!-- design -->
    <div class="w-fit">
      <p class="pt-2 text-white text-lg md:mt-8">Design</p>
      <img src={designImg.src} alt="design" class="h-[350px]" />
    </div>
  </div>
  <p
    class="hidden md:block text-white font-bold rotate-90 ml-auto w-fit relative z-20 top-20"
  >
    AND THE MOST IMPORTANT PART
  </p>
</section>
<!-- we work with passion  -->
<div class="relative">
  <img src={passionWork.src} alt="passion" />
  <div class="text-white absolute bottom-4 md:bottom-20 md:left-1/2 md:-translate-x-1/2">
    <p class="md:text-4xl text-center text-xl">We work with passion.</p>
    <p class="text-center text-sm w-[70%] mr-auto ml-auto">
      Our specialists are waiting to give you the treatments and services that
      you deserve.
    </p>
  </div>
</div>
